/*media querie*/


@media (max-width:425px){
   
  .hero__grid{
      grid-template-columns: (1 fr);
  }

  .productos__grid{
     grid-template-columns: (1fr) ;
  }
  .footer__grid{
     grid-template-columns: (1fr);
}
}

@media (max-with:1440px){
  .hero__grid{
     grid-template-columns:repeat (2, 1fr);
 }

 .productos__grid{
  grid-template-columns:repeat (3, 1fr) ;
}
.footer__grid{
  grid-template-columns:repeat (4, 1fr);
}
}


header{
  background-color: #e773be;}


footer {
  background-color: #e773be; }

h1{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  
  
}

.linea{
  width:1200px;
  margin-top: 80px;
}

.textproductos{
  text-align: center;
  font-family:cursive
}

h2{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;

}

h3 {
  color: black;
  background-color: #e773be; }

.boton {
  color: black;
  background-color: "$colorppal"; }

.logo {
  padding-right: 5px; }



.seccion__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}


  /*contacto*/
  .contacto{
    background-color:#e773be;
    border-color: black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-content: center;
    width: 300px;
    border-radius: 10px;
    
    
  }

  /*nosotros*/
  .nosotros{
    display:flex

  }

  .nosotros p{
    background-color: bisque;
    border-color: black;
    border-radius: 20px;
    width: 600px;
    margin-top: 70px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-flex;
  }

  .nosotros__grid img{
    border-radius: 10px;
    
  
  }
  /*footer*/

.footer {
  background-color: #e773be;
  padding: 40px 20px;
  margin-top: 40px; }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; }
    .footer__grid li {
      list-style-type: none;
      margin: 5px 0; }

h4 {
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center; }

.list {
  font-family: 'Times New Roman', Times, serif;
  color: darkmagenta;
  margin-top: 30px;
  transition: color 0,3; }
  .list-a {
    list-style-type: none;
    text-decoration: none; }
    .list-a:hover {
      color: crimson; }

.foot__iconos {
  margin-top: 25px;
  margin-right: 15px;
  display: flex;
  justify-content: space-evenly;
  color: darkmagenta;
  transition: color 0.3;
  align-items: center; }
  .foot__iconos:hover {
    color: crimson; }

    /*hover*/
    .hero{
      background-color:lightpink;
      padding: 40px 20px;
      margin-top: 10px;
      
      color: black;
    }
  
  
   .hero__grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px; 
      align-items: center;
   }
   
   .hero__grid--content h1{
      color: white;
      font-size:40px ;
      margin-bottom: 30px;
      font-style: italic;
   }
  
  
  
   .hero__grid--content p{
      margin-bottom: 20px;
   }
  
  
  .hero__grid--content a{
      background-color:$lila;
      color:rgb(218, 73, 97);
      padding: 15px;
      border-radius: 10px;
  }
  
  .hero__grid--img{
      border-radius: 10px;
      transition: transform: 0.3s;
  }
  
  .hero__grid--img:hover{
          transform: rotate(10deg);
      }
  
  


    /*extend*/
    .btn-base{
      text-decoration: none;
      color: black;
      font-size: 16px;
      padding: 10px 10px;
      border-radius: 10px;
      border: black;
      transition: all 0.3;
  
  
      &:hover{
          opacity: 0.8;
      }
  
  }
  
  
  
  .btn-dulce{
      @extend .btn-base;
      background-color:coral;
      
   }
  
   .btn-salado{
    @extend .btn-base;
    background-color:blueviolet;
  
   }
  
   .btn-otro{
    @extend .btn-base;
    background-color:aqua;
   }


   /*tarjetas*/
  
   .card{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    align-items: center;
    width: 300px;
    border-color: black;
    border-radius: 10px;
   
    gap: 5px;
    
 }
 
 .card__header{
    position: relative;
 
 }
 
 .card__header img{
    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
 }
 
 
 .productos{
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
 }
 
 .productos__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }






