*{ margin: 0;
padding: 0;}
*

header{
  background-color: #edacb8;
}


h1{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}


h2{
  color: grey;
  font-family:'Times New Roman', Times, serif, cursive;
  background-image: url(../imagen/90412.jpg);
 
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  
}

h3 {
  color:black ;
  font-family:'Times New Roman', Times, serif, cursive;

  font-weight: bolder;
  background-color:white;
  border-radius: 20px;
  display: block;
  padding: 10px 10px;
  }

h4{
  text-align: center;
  } 

  p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:grey;
  }

.logo {
  padding-right: 5px; }


.contacto{
    background-color:#edacb8;
    border:5px dotted white;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-content: center;
    width: 300px;
    border-radius: 10px;
  }
 
  .nosotros__grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
   
    margin-top: 40px;
  }
 
  .imgnosotros{
    border-radius: 80px;
  }


.footer {
  padding: 40px 20px;
  margin-top: 40px;
  background-image: url(../imagen/90412.jpg);
  background-attachment: fixed; }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; }
    .lista {
      list-style-type: none;
      text-decoration: none;
      margin: 5px 0;
      color: black;
      align-items: center; }
    .lista:hover{
      color: crimson; }

    .footer__iconos{
      display: flex;
      justify-content: space-evenly;
      font-size: 20px;
      color:black;}
    .footer__iconos:hover{
      color: crimson; }
    
    .footer__iconos a{ 
      font-size: 20px;
      color:black; }
    .footer__iconos a:hover{
      color: crimson; }

  

    

    .btn-base{
      text-decoration: none;
      color: black;
      font-size: 16px;
      margin-top: 0px;
      padding: 10px 10px;
      border-radius: 10px;
      transition: all 0.3;
      text-align: center;
  
  }
  
  .btn-dulce{
      @extend .btn-base;
      background-color: #edacb8;
   }
 

   .card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    align-items: center;
    width: 300px;
    border:none;
    gap: 5px; }
    .card__description{
    text-align: center;
    margin-top: 10px;}
    .card__header--strong{
      background-color:rgb(255, 255, 255,0.5);
      color: black;
      padding: 8px;
      position: absolute;
  border-bottom-right-radius: 10px;}

  .transform:hover{
    transform: translateX(10px);
    background-color: #edcfd4;
    color: #e773be;
  }
  
  .transformproduct:hover{
    background-color: #edcfd4;
    color: #e773be;}

  .movimiento:hover{
    transform:translateY(5px) ;}
    
  .movimientos:hover{
    transform: scale(1.1);}
 

 .productos{
    text-align: center;
    margin-top: 20px;}
    .productos__grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);}

 .textproductos{
  text-align: center;
}

.hero{
  display: grid;}
.hero__grid{
  display: grid;
  grid-template-columns: 1 fr;
  align-items: center;
  justify-items: center;  }

 
.imagen_inicio{
  background-image: url(../imagen/90412.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; 
  opacity: 0.7;
  width:100% ;
  height: 20rem;
  
  padding: 2 rem;
  background-attachment: fixed;}

.imagen__productos{
  background-image: url(../imagen/desayunno18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative; 
  opacity: 0.7;
  width:100% ;
  height: 20rem;
  
  padding: 2 rem;
  margin-bottom: 30px;
 
  background-attachment: fixed;}


.imagen__productos2{
  background-image: url(../imagen/tortanumerorosa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative; 
  opacity: 0.7;
  width:100% ;
  height: 20rem;
  
  padding: 2 rem;
  margin-bottom: 30px;
  
  background-attachment: fixed;
}

.imagen__productos3{
  background-image: url(../imagen/frutilla.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; 
  opacity: 0.7;
  width:100% ;
  height: 20rem;
  
  padding: 2 rem;
  margin-bottom: 30px;
  
  background-attachment: fixed;

  
}


 @media (max-width:425px){
   
  .hero__grid{
      grid-template-columns: (1 fr);
  }

  .productos__grid{
     grid-template-columns: 1fr ;
  }
  .footer__grid{
     grid-template-columns: 1fr;
}
.nosotros__grid{
  grid-template-columns: 1fr;
}
}

@media (max-with:1440px){
  .hero__grid{
     grid-template-columns:repeat (2, 1fr);
 }

 .productos__grid{
  grid-template-columns:repeat (3, 1fr) ;
}
.footer__grid{
  grid-template-columns:repeat (4, 1fr);
}
.nosotros__grid{
  grid-template-columns: repeat(2, 1fr);
}

}



