

/*mixin*/

@mixin card-base ($alineacion, $fondo) {
   border-radius: 10px;
   border: 2px solid #333;
   margin-top: 30px;
   display: flex;
   justify-content: $alineacion;
   background-color: $fondo;
 };

 .card-1 {
   @include card-base (space-between, pink);
 }
 
 .card-2 {
   @include card-base  (space-between, violet);
 }
 
 .card-3 {
   @include card-base (space-between, aqua);
 };
 
 /*Nesting*/
 
 .hero{
    background-color:lightpink;
    padding: 50px 20px;
    margin-top: 10px;
    
    color: black;


 &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    align-items: center;

 &--content h1{
    color: white;
    font-size:40px ;
    margin-bottom: 30px;
    font-style: italic;



 &--content p{
    margin-bottom: 20px;


&--content a{
    background-color:$lila;
    color:rgb(218, 73, 97);
    padding: 15px;
    border-radius: 10px;

 &--img{
    border-radius: 10px;
    transition: transform: 0.3s;

    &:hover{
        transform: rotate(10deg);
    }

}

}
}
}
}
}

.card{
   background-color: #fff;
   padding: 20px;
   border: #333;
   border-radius: 10px;
   width: 400px;
   

&__header{
   position: relative;
}


&img{
   width: 100%;
   border-radius: 10px;
   margin-bottom: 20px;
}
}



.productos{
   font-family: cursive;
   text-align: center;


&__grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
}

/*nosotros*/
.nosotros{
   display:flex;

 p{
   background-color: bisque;
   border-color: black;
   border-radius: 20px;
   width: 600px;
   margin-top: 70px;
   margin-left: 30px;
   padding-left: 10px;
   padding-top: 20px;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
   display: inline-flex;
 }

 &__grid img{
   border-radius: 10px;
   
 
 }
}


/*media querie*/


@media (max-width:425px){
   
   .hero__grid{
       grid-template-columns: 1 fr;
   }

   .productos__grid{
      grid-template-columns: 1fr ;
   }
   .footer__grid{
      grid-template-columns: 1fr;
}
};

@media (max-width:1440px){
   .hero__grid{
      grid-template-columns:repeat (2, 1fr);
  }

  .productos__grid{
   grid-template-columns:repeat (3, 1fr) ;
}
.footer__grid{
   grid-template-columns:repeat (4, 1fr);
}
};







