
.footer {
   padding: 40px 20px;
   margin-top: 40px;
   background-image: url(../imagen/90412.jpg);
   background-attachment: fixed; 
&__grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 30px; }
}
.lista {
       list-style-type: none;
       text-decoration: none;
       margin: 5px 0;
       color: black;
       align-items: center; 
      &:hover{
         color: $hoverfoot; }
}


.footer__iconos{
   display: flex;
   justify-content: space-evenly;
   font-size: 20px;
   color:black;
      &:hover{
      color: $hoverfoot; }
}
 
&a{ 
   font-size: 20px;
   color:black; 
      &:hover{
      color:$hoverfoot ; }
 }

