header{
    background-color: #e773be;}

footer {
    background-color: $lila ;
}

.hero{
    background-color: #e773be;
}

h2{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
}

h3{
    color:black;
    background-color: $lila;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: $fontmedium;
}

.boton{
    color:black;
    background-color: "$colorppal";

}

.logo{
    padding-right: 5px;
}


p{
    font-size: $fontmedium;

  }