/*colores*/
$colorppal: #edacb8;
$hover: #e773be;
$hoverfond:#edcfd4;



/*maps y bucle*/

$redessociales: (
    instagram: #c92d8f,
    facebook: blue,
    
  );

@each $nombre, $color in $redessociales{
  .link-#{$nombre}
  { margin: 0 5 px;
      padding: 10px ;
      border-radius: 10px ;
      color: white;
      text-decoration: none;
      background-color: $color;
  }
};


 

 