
/* footer */

.footer {
    background-color:rgb(231, 115, 190);
    padding: 40px 20px;
    margin-top: 40px;

}

.footer__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer__grid h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;

}

.footer__grid li{
    list-style-type: none;
    margin: 5px 0;
}

.footer__grid--list li a{
    font-family:'Times New Roman', Times, serif;
    color:darkmagenta;
}

.footer__grid--list li a:hover {

    color:crimson;
}

.footer__iconos{
    margin-top: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
    color: darkmagenta;
    transition: color 0.3;
    align-items: center;

}

.footer__iconos:hover{
    color:crimson;
}

.footer__iconos a{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    color: darkmagenta;
    transition: color 0,3;
}

.footer__iconos a:hover{
    color:crimson;
}



/* Estilos en general*/

header{
    background-color: rgb(231, 115, 190);

}

h3{
    color:black;
    background-color:rgb(231, 115, 190);

}

.boton{
    color:black;
    background-color:rgb(231, 115, 190);

}

.logo{
    padding-right: 5px;
}



/*hero en inicio*/
.hero{
    background-color:lightpink;
    padding: 50px 20px;
    margin-top: 10px;
    
    color: black;
}

.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    align-items: center;
}

.hero__grid--content h1{
    color: white;
    font-size:40px ;
    margin-bottom: 30px;
    font-style: italic;

}

.hero__grid--content p{
    margin-bottom: 20px;
}

.hero__grid--content a{
    background-color:rgb(231, 115, 190);
    color:rgb(218, 73, 97);
    padding: 15px;
    border-radius: 10px;

}

.hero__grid--img{
    border-radius: 10px;
    transition: transform: 0.3s;
}

.hero__grid--img:hover{
    transform: rotate(10deg);
}




/*media querie*/

@media (max-width:576px){
    .hero__grid{
        grid-template-columns: 1fr;
    }

    .footer__grid{
        grid-template-columns: 1 fr;
    }
}
